
<div class="container" [style]="{'min-width':'500px'}">
    <nav class="navbar navbar-expand-lg navbar-light "  style="background-color:#C39BD3;"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand  brand" href="#">Corona Tracker</a>
        <a class="fa fa-twitter fa-lg " href="#"></a>

        <a href="#" class="fa fa-facebook fa-lg"></a>
        
          
           
        <div class="collapse navbar-collapse nav-item" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/home" >Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/countrycounter" >Global</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "routerLink="/indiacounter" >India</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "routerLink="/worldcounter" >World</a>
              </li>
          </ul>

     
         
        </div>

     
      </nav>
        
        
 
    </div>
    
