<div class="alert alert-info" role="alert" >
  <h4 class="alert-heading s" style="text-align: center;">Global Corona Updates</h4>
 
</div>
<div class="ui-table ui-table-thead table">
    <p-table #dt [columns]="cols" [value]="countryStat"  
    [scrollable]="true"
      [loading]="loading"
      [paginator]="true" [rows]="12" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
      <ng-template pTemplate="caption">

        <div class="input-icons"> 
          <i class="fa fa-search " aria-hidden="true"></i>
            <input type="input"  placeholder="Search Country" name="name" id='name'
              (input)="dt.filterGlobal($event.target.value,'contains')" />
            <label for="name"></label>
          </div>
      </ng-template>
      
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Select</th>
          <th *ngFor="let col of columns" >
            {{col.header}}
          </th>
          <th>
            Action
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td><input type="checkbox" name="name1" /></td>
          <td  *ngFor="let col of columns">
           
              {{rowData[col.field]}}
           
          </td>
          <td style="text-align: center;font-size: 1 em">
            <button  class="btn btn-primary" pButton type="button" value="Save" label="Save" (click)="confirm1(rowData)">Save</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <ul>
            <li *ngFor="let country of selectedValues" >
                You have Selected :{{country.country_name + ' , ' + "Cases  " +country.cases + ' , ' +
             "Deaths "+ country.deaths + ' , ' +"Recovered "+ country.total_recovered +' , ' + "New Cases "+country.new_cases 
              + ' , ' +"New Deaths "+
            country.new_deaths}}
            </li>

        </ul>
    </ng-template>
    </p-table>
  </div>    
  <div class="chart-container" style="position: relative; height:50vh; width:100vw">    
    <canvas id="canvas" >{{ Linechart }}</canvas>    
  </div>