body .ui-table .u-table-thead {
    padding: 0 0;
    border: 1px solid #F1D4D4;
    font-weight: 700;
    color:#484C7F;
    background-color :white;
    width: 100%;
   
}

.container{
    background-color: #484C7F;
    width: 100%;
    min-width:'500px';
    max-width: 100%;
}

 #name{
  
    height: 30px;outline: none;
    border: none;
    width: 100%;
    outline: 0;
    padding: 5px 30px;
    border-bottom: 1.5px solid rgb(174, 174, 194);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    

    
}

.input-icons i { 
    position: absolute; 
    padding: 5px 10px;
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
    border: none;
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
    color:#484C7F;
 }



 th{
    background-color : #000000 !important;
     color: white !important;
}
tr:nth-child(even) {
    background: #f5f2f5 !important;
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}
tr:nth-child(odd) {
    background: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}

tr td:nth-child(3) {
    color: red;

}
tr td:nth-child(5) {
    color: green;

}

@media screen and (max-width: 500px) {
    div.ui-table-tbody .ui-table {
        font-size: 12px;
        text-align: left;
    }
    canvas{
        font-size: 12px;
        height: 600px;

    }
}
@media screen and (min-width: 600px) {
    div.ui-table-tbody .ui-table {
        font-size: 12px;
        text-align: left;
       
    }
    canvas{
        font-size: 12px;
        height: 600px;

    }

}

@media screen and (min-width: 300px) {
    div.ui-table-tbody .ui-table {
        font-size: 12px;
        text-align: left;
       
}

    canvas{
        font-size: 12px;
        height: 600px;

    }

}

   


table,
tr,
td,
th {
    border: 1px solid black;
    font-family:to-upper-case;
    overflow-wrap: normal;
     padding: 0.5em 0.2em !important;
    width: 100%;
    font-weight: bold;
    // font-size: 12px;
}

body .ui-table .ui-table-tbody > tr > td {
    padding: 0 0 !important;
}

