.jumbotron{
    background-color: #AC8DAF;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif 
}


.btn {
    border: solid 2px rgb(129, 134, 133);
    color: white;
    background-color: rgb(112, 121, 119);
}

.btn:hover{
    background-color: rgb(231, 230, 233);
    color: black;
}



h2{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}