.jumbotron{
    background-color: #AC8DAF;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif 
}

.btn {
    border: solid 2px blueviolet;
    color: white;
    background-color: blueviolet;
}

.btn:hover{
    background-color: rgb(168, 145, 190);
}

.row{
    padding-left: 5rem;
    padding-bottom: 5rem;
}

h2{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}